backports.tarfile==1.2.0
fqdn==1.5.1
geopandas==1.0.1
importlib-metadata==8.0.0
isoduration==20.11.0
jaraco.collections==5.1.0
jsonpointer==3.0.0
jupyter==1.1.1
lonboard==0.10.4
pip-chill==1.0.3
plotly==6.0.0
pyarrow==19.0.1
python-dwca-reader==0.16.4
tinycss2==1.4.0
tomli==2.0.1
uri-template==1.3.0
webcolors==24.11.1
